<img class="dio" src="assets/img/dio-img.jpg" />
<p class="txt1">
  Semana Front-end | Dia 01: Construindo uma Landing Page no Mundo Invertido com
  HTML e CSS
</p>

<div class="all">
  <div class="session1">
    <img id="logo" src="assets/img/dio-img.jpg" />

    <div class="name">
      <p>DIO</p>
      <p>83,800 Mil inscritos</p>
    </div>

    <div class="icon">
      <input class="btn" type="button" value="INSCREVA-SE" />

      <img class="icons" src="assets/img/like.png" />
      <p>2 Mil</p>
      <img class="icons" src="assets/img/thumb-down.png" />
      <p>Não gostei</p>
      <img class="icons" src="assets/img/share.png" />
      <p>Compartilhar</p>
      <img class="icons" src="assets/img/download.png" />
      <p>Download</p>
    </div>
  </div>
  <content class="content">
    <p>28.418 visualizações Transmitido ao vivo em 23 ago. de 2022</p>

    <p>
      Inicie uma aventura imersiva no mundo do Front-end com HTML e CSS. Para
      isso, criaremos uma landing page com a temática da série Stranger Things,
      a qual contará com a implementação de um theme switcher (light e dark)
      para explorarmos os mistérios do mundo invertido.
    </p>
  </content>
</div>
