
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.dio{
    width:800px;
    margin-top: 1rem;
}

.txt1{
    font-family: Roboto;
    font-weight: 600;
    display: flex;
}

.all{
    
    gap: .8rem;

}

#logo {
   
    width: 3.2rem;
    height: 3rem;
    border-radius: 50%;
    
}

.icons{
width: 1.5rem;
height: 1.5rem;
align-self: center;

}

.content{
}

.icon{
    display: flex;
}