@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.dio {
  width: 800px;
  margin-top: 1rem;
}

.txt1 {
  font-family: Roboto;
  font-weight: 600;
  display: flex;
}

.all {
  gap: 0.8rem;
}

#logo {
  width: 3.2rem;
  height: 3rem;
  border-radius: 50%;
}

.session1 {
  display: flex;
  height: fit-content;
  
  align-items: center;
  height: min-content;
}

.name p {
    height: -1rem;
    
  }

  .name p:first-child {
    margin-top: 0; /* Remove a margem superior do primeiro parágrafo */
    font-weight: 600;
    font-family: roboto;
    
  }
.icons {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  margin: 1rem;
  font-family: roboto;
  font-weight: 400;
}

.content {
}

.icon {
  display: flex;
}

.btn {
    margin-left: 1rem;
    border: solid 1px red;
    border-radius: 1px;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: .8rem;
    font-family: roboto;
    font-weight: 600;
}