<aside class="allcontent">

   
    <div class="content2">
        <img src="assets/img/thumb.png">
        <div class="txtContent">
            <p class="boldtype">Geração Tech Unimed - BH - Ciência de Dados</p>
            <p>DigitalInnovationOne</p>
            <p>2,1 mil visualizações Transmitido há 2 dias</p>
        </div>
    </div>
    <div class="content2">
        <img src="assets/img/thumb.png">
        <div class="txtContent">
            <p class="boldtype">Geração Tech Unimed - BH - Ciência de Dados</p>
            <p>DigitalInnovationOne</p>
            <p>2,1 mil visualizações Transmitido há 2 dias</p>
        </div>
    </div>
    <div class="content2">
        <img src="assets/img/thumb.png">
        <div class="txtContent">
            <p class="boldtype">Geração Tech Unimed - BH - Ciência de Dados</p>
            <p>DigitalInnovationOne</p>
            <p>2,1 mil visualizações Transmitido há 2 dias</p>
        </div>
    </div>
    <div class="content2">
        <img src="assets/img/thumb.png">
        <div class="txtContent">
            <p class="boldtype">Geração Tech Unimed - BH - Ciência de Dados</p>
            <p>DigitalInnovationOne</p>
            <p>2,1 mil visualizações Transmitido há 2 dias</p>
        </div>
    </div>
    <div class="content2">
        <img src="assets/img/thumb.png">
        <div class="txtContent">
            <p class="boldtype">Geração Tech Unimed - BH - Ciência de Dados</p>
            <p>DigitalInnovationOne</p>
            <p>2,1 mil visualizações Transmitido há 2 dias</p>
        </div>
    </div>
    <div class="content2">
        <img src="assets/img/thumb.png">
        <div class="txtContent">
            <p class="boldtype">Geração Tech Unimed - BH - Ciência de Dados</p>
            <p>DigitalInnovationOne</p>
            <p>2,1 mil visualizações Transmitido há 2 dias</p>
        </div>
    </div>
   
   
  

</aside>